/* Header Styles */
header {
  box-shadow: 2px 2px 2px #ccc;
  padding: 10px 0;
}

.checkout-bag {
  background: url('/img/everlane-bag.svg') no-repeat;
  height: 40px;
  width: 40px;
  float: right;
  display:block;
  text-align: center;
}
